.App {
  font-family: sans-serif;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.the_options {
  list-style: none;
}
